.header {
  background: #292e36;
  position: relative;
}

.header__nav {
  padding: 50px 0 30px;
}

.header__nav-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.header__nav-top_call {
  border: 2px solid #e1b168;
  padding: 20px 50px;
  font-family: Josefin Sans;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
}

.header__nav-top_btn {
  border: 2px solid #e1b168;
  background: #e1b168;
  color: #292e36;
  font-family: Josefin Sans;
  font-size: 22px;
  font-weight: 400;
  padding: 20px 80px;
}

.header__nav-top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #5c6168;
  top: 120%;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 70px;
}

.header__nav-list_links {
  display: flex;
  gap: 60px;
}

.header__nav-list_item-link {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  transition: 0.3s;
}

.header__nav-list_icons {
  display: flex;
  gap: 15px;
}

.header__nav-list_item-link:hover {
  color: #e1b168;
}

.header__nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 980px) {
  .header__nav-top {
    flex-direction: column;
    gap: 15px;
  }
  .header__nav-top_call {
    padding: 15px 30px;
  }
  .header__nav-top_btn {
    padding: 15px 40px;
  }
  .header__nav-list {
    margin-top: 90px;
  }
}

@media screen and (max-width: 980px) {
    .header__nav-list_links {
        gap: 30px;
    }
    .header__nav-list {
        justify-content: space-between;
    }
}


@media (max-width: 768px) {
    .header__nav-list {
      display: none;
      flex-direction: column;
      text-align: center;
      background-color: #333;
      position: absolute;
      top: 100%; /* Позиция от верхней части header */
      left: 0;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: all 0.3s ease; /* Плавное появление */
      margin-top: 0;
    }
  
    .header__nav-toggle {
      display: inline;
    }
  
    .header__nav-list.show {
      display: flex;
    }
  
    .header__nav-list_links,
    .header__nav-list_icons {
      flex-direction: column;
      gap: 10px; /* Слегка уменьшаем отступы */
    }
  
    .header__nav-list_links li,
    .header__nav-list_icons li {
      padding: 10px 0;
    }
    .header__nav-top::after {
        width: 0;
    }
  }